@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:wght@700&display=swap');

:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    --main-lighter: #ff7961;
    --main: #f44336;
    --main-darker: #ba000d;
    --main-bg: #fff;
    --white: #fff;
    --lighter-grey: #eeeeee;
    --light-grey: #e0e0e0;
    --grey: #9e9e9e;
    --darker-grey: #424242;
    --black: #000;
    --green: rgb(11, 156, 6);
    --background-mobile: #e6f9ff;
    --backgorund-footer:#04468A;
    --green-light: #66ff33;
    --blue-light: #026cb1;
    --darker-blue: #033f66;
    --darker-green:  rgb(5, 88, 2);
}

::-webkit-scrollbar {display: none;}

#mapid { height: 180px; 
        width: 420px ;
        border-radius: 1rem;}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background: var(--background-mobile)
}

a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #f3f3f3;
}

/* Container */
.container {
    width: 100%;
    margin: 0px auto;
}

.container-body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 4rem;
}

.logo { 
    width: 200px;
    height: 85px;
    padding-left: 2rem;
}

/* Barra buscar*/
.buscar {
    position: absolute;
    padding: 5px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: var(--black);
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn-buscar{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #38ef7d, #11998e); 
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 300px;
}

.buscar input:focus{
    width: 300px;
}

/* Footer */
.container-footer {
    width: 100%;
    margin: 0px auto;
}

.footer {
    margin-top: 6rem;
    padding: 1rem 0;
    background-color: var(--backgorund-footer);
    color: var(--white);
    text-align: center;
}

/* Navbar */
.navbar{
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background: var(--green);
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    padding-right: 20px;
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

.nav-links {
    height: 0;
    overflow: hidden;
}

.nav-open {
    height: 100vh;
}

.nav-link {
    list-style: none;
    margin: 20px 0;
    border-bottom: 2px solid white;
    width: 8rem;
}

.nav-link-buscar {
    list-style: none;
    width: 8rem;
}

.nav-link:hover{
    border-bottom: transparent;
    transition: 0.3s;
}

.buscar-nav{
    margin-top: 15px;
    width: 97%;
    padding-left: 35px;
}

.buscar-nav input{
    margin-bottom: 20px;
    width: 97%;
    height: 40px;
    padding: 0 20px;
    font-size: 17px;
    color: var(--grey);
    outline: none;
    transition: all 0.6s ease;
}



/* Estilos de letras */
.eslogan{
    margin-bottom: 1.5rem;
}

.eslogan p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
}

.frase{
    margin-bottom: 2rem;
}

.frase p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px
}



/* Contacto*/
.contacto-title p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.contacto-subtitle p {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

.contacto-ubicacion p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

/* Fomrulario */
input, select {
    display: inline-block;
    box-sizing: border-box;
    width: 90%;
    color: var(--darker-grey);
    padding: 0.5rem 0.6rem;
    border: 2px var(--light-grey) solid;
    background: var(--white);
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--darker-grey);
    transition: border 0.3s;
}

input:hover, input:focus, select:hover, select:focus {
    border: 2px var(--grey) solid;
    outline: none;
}

label {
    display: flex;
}

.encuesta-content {
    padding: 0.25rem 0rem;
    display: flex;
    flex-direction: column;

}

.encuesta-label {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
}

.encuesta-field-invalid {
    font-size: 0.9rem;
    color: var(--main-darker);
}

.invisible {
    display: none;
}

.btn-text {
    display: flex;
    margin: 1rem 0;
    padding: 0.3rem 0;
    color: var(--main);
    font-size: 1rem;
    font-weight: bold;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.btn-text:hover {
    color: var(--main-darker);
}

.btn-filled {
    border-radius: 1rem;
    width: 90%;
    margin: 0.3rem 0;
    padding: 1rem 0.5rem;
    color: var(--white);
    background-color: var(--main);
    font-size: 1.2rem;
    font-weight: bold;
    --webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}


.btn-filled:hover, .btn-filled:focus {
    background-color: var(--main-darker);
}

.btn-filled-green:hover, .btn-filled-green:focus {
    background-color: var(--darker-green);
}

.btn-filled-blue {
    background-color: var(--green);
}

.btn-filled-green {
    width: 100%;
    margin: 0.3rem 0;
    padding: 1rem 0.5rem;
    color: var(--white);
    background-color: var(--green);
    font-size: 1.2rem;
    font-weight: bold;
    --webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.btn-filled-blue:hover, .btn-filled-blue:focus {
    background-color: var(--darker-green);
}

section {
    width: 100%;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}



/* Desktop */
@media only screen and (min-width: 1080px) {
    body {
        background: url('/img/healthy-lunch-go-packed-lunch-box.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .container-body {
        margin-left: 10rem;
    }

    .nav-toggle{
        display: none;
    }

    .nav-header{
        display: block;
    }

    .flex-nav{
        flex-direction: row;
        justify-content: space-between;
        align-items:center ;
        padding: 0 40px;
    }

    .nav-links {
        height: auto;
    }

    ul {
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        border-bottom: none;
    }

    .nav-link-buscar{
        margin-right: 100px;
        display: inline-block;
        border-bottom: none;
    }

    .nav-links li:hover{
        border-radius: 1rem;
        background-color: var(--darker-green);
        list-style-type: none;
        transition: 0.3s;
    }
    input, select {
        width: 50%;
    }

    .buscar-nav{
        margin-top: 15px;
        width: 30%;
    }
    
    .buscar-nav input{
        margin-bottom: 20px;
        width: 100%;
        
    }
    .btn-filled {
        width: 25%;
    }

    #mapid { height: 180px;width: 700px ;}

}