@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    --main-lighter: #ff7961;
    --main: #f44336;
    --main-darker: #ba000d;
    --main-bg: #fff;
    --white: #fff;
    --lighter-grey: #eeeeee;
    --light-grey: #e0e0e0;
    --grey: #9e9e9e;
    --darker-grey: #424242;
    --black: #000;
    --green: rgb(11, 156, 6);
    --background-mobile: #e6f9ff;
    --backgorund-footer:#04468A;
    --green-light: #66ff33;
    --blue-light: #026cb1;
    --darker-blue: #033f66;
    --darker-green:  rgb(5, 88, 2);
}

* {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    all: unset;
    cursor: pointer;
}

#mapid {
    height: 30rem;
    border-radius: 0.25rem;
    border: var(--grey) 1px solid;
    transition: border 0.3s;
}

#mapid:hover {
    border: var(--darker-grey) 1px solid;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    /* line-height: 1.6; */
    background-color: var(--lighter-grey);
    /*background: url('/img/healthy-lunch-go-packed-lunch-box.jpg') no-repeat center fixed;*/
    background-size: cover;
    /*background: var(--background-mobile) */
}

.body-background {
    background-image: url('/img/healthy-lunch-go-packed-lunch-box.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
}

/* Container */
.container {
    width: 100%;
    margin: 0px auto;
}


.container-index {
    min-height: 80vh;
    padding: 2rem 1rem;
}

.container-body {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    background-image: url('/img/healthy-lunch-go-packed-lunch-box.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    overflow: hidden;
}

.container-index-text {
    padding: 4rem 2rem;
}

.container-index-text * {
    padding-bottom: 1rem;
}

.logo {
    height: 3rem;
    margin-top: 0.4rem;
}


/* Barra buscar*/
.buscar {
    position: absolute;
    padding: 5px;
}

.buscar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: var(--black);
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn-buscar {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #38ef7d, #11998e);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 300px;
}

.buscar input:focus {
    width: 300px;
}

/* Footer */
.container-footer {
    width: 100%;
    margin: 0px auto;
}

.footer {
    padding: 2rem 1rem;
    background-color: var(--backgorund-footer);
    color: var(--white);
    text-align: center;
    font-size: 1.1rem;
}

/* Navbar */
.navbar{
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    background: var(--blue-light);
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-content {
    margin-top: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    padding: 0.5rem 0.1rem;
    color: var(--white);
    font-size: 1.1rem;
}

.nav-link:hover {
    border-bottom: transparent;
    transition: 0.3s;
}

.buscar-nav {
    margin: auto 0;
    height: max-content;
    position: relative;
    display: flex;
    flex-grow: 1;
}

.buscar-nav input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    padding: 0.6rem;
    padding-right: 3rem;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--darker-grey);
    outline: none;
    border: none;
    border-bottom: var(--grey) 2px solid;
    transition: outline 0.3s;
}

.buscar-nav input:hover, .buscar-nav input:active, .buscar-nav input:focus {
    outline: var(--light-grey) 2px solid;
}

.buscar-nav-btn {
    position: absolute;
    height: 100%;
    right: 0.5rem;
}

/* Estilos de letras */
.hero-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}

.hero-subtitle {
    font-size: 1.5rem;
}

.section-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}

.section-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black);
}

.btn-empty {
    padding: 0.2rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
    height: max-content;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main);
    transition: color 0.3s;
}

.btn-empty:hover {
    color: var(--main-darker);
}

.btn-empty-cart {
    margin-left: 0.8rem;
}

.btn-empty span {
    padding-top: 0.2rem;
}

.container-index-history {
    padding: 2rem 0;
}

.history-content {
    padding: 1rem 0;
    height: max-content;
    width: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.empty {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    grid-column: 1 / -1;
    min-height: 6rem;
    font-size: 1.4rem;
    color: var(--darker-grey);
    border: var(--grey) 1px solid;
    transition: all 0.3s;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.empty:hover {
    border: var(--darker-grey) 1px solid;
    color: var(--black);
}

/* Banner */
.container-banner{
    margin-top: 3rem;
    text-align: center;
    display: none;
}


/* Contacto*/
.contacto {
    padding: 2rem;
    margin-bottom: 4rem;
}

.contacto-title p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.contacto-subtitle p {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

.contacto-ubicacion p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

.developers-title p {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.frase span {
    font-size: 13px;
}

.frase i {
    font-size: 15px;
}

/* Fomulario */

.content-form  {
    min-height: 80vh;
    margin: 6rem 0 ;
    color: var(--black);
    font-family: "Inter", sans-serif;
    padding: 0 1.5em;
}

.logo-contact{
    text-align: center;
    font-size: 3em;
}

.logo-contact span {
    color:var(--blue-light);
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba( 155, 155, 155, .3) ;
    margin-top: 2em;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: var(--white);
}

.contact-form form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.contact-form form .block {
    min-width: 0;
    grid-column: 1 / 3;
}

.contact-form form p {
    margin: 0;
}

.contact-form form a {
    margin: 0;
    padding: 1em;
}

#btn-cancelar {
    margin-top: 1em;
}

#button-send {
    margin-top: 1em;
}

.contact-form form button {
    width: 100%;
}

.contact-form form input, .contact-form form textarea {
    box-sizing: border-box;
    min-width: 0;
    font-family: inherit;
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid var(--blue-light);
    outline: none;
    outline: 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: 0.3em;
}

.contact-info {
    background: var(--blue-light);
    color: var(--white);
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
.encuesta-content input {
    display: inline-block;
    box-sizing: border-box;
    width: 90%;
    color: var(--darker-grey);
    padding: 0.5rem 0.6rem;
    border: 2px var(--light-grey) solid;
    background: var(--white);
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--darker-grey);
    transition: border 0.3s;
}
.encuesta-content input:hover, .encuesta-content input:focus {
    border: 2px var(--grey) solid;
    outline: none;
}

.encuesta-content {
    padding: 0.25rem 0rem;
    display: flex;
    flex-direction: column;

}

.encuesta-label {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
}

.encuesta-field-invalid {
    font-size: 0.9rem;
    color: var(--main-darker);
}

.invisible {
    display: none;
}

.btn-text {
    display: flex;
    margin: 1rem 0;
    padding: 0.3rem 0;
    color: var(--main);
    font-size: 1rem;
    font-weight: bold;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.btn-text:hover {
    color: var(--main-darker);
}

.btn-filled {
    border-radius: 0.2rem;
    width: 80%;
    margin: 0;
    padding: 1rem 0.5rem;
    color: var(--white);
    background-color: var(--main);
    font-size: 1.2rem;
    font-weight: bold;
    --webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.container-search {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.searching-for {
    font-size: 1rem;
    font-weight: normal;
}

.search-filters {
    width: 100%;
    height: max-content;
    padding: 1rem;
    background-color: var(--white);
}

.search-results {
    padding-bottom: 1.5rem;
}

.search-query {
    font-size: 1.3rem;
    padding: 0.2rem 0;
}

.search-n-results {
    font-size: 1rem;
    font-weight: normal;
}

.search-filters-list {
    margin-top: 1rem;
    display: none;
    flex-direction: column;
}

.search-filter {
    padding-bottom: 1rem;
}

.search-filters-more {
    display: block;
}

.filter-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.filter-min-max {
    display: inline;
}

.filter-checkbox {
    display: flex;
    flex-direction: column;
}

.filter-checkbox input {
    vertical-align: middle;
    margin: 0.4rem;
}

.filter-checkbox label {
    font-size: 0.9rem;
    vertical-align: middle;
}

input[type="checkbox"] {
    zoom: 0.9;
}

.filter-input {
    width: 40%;
}

.filter-input:hover {
    outline: var(--light-grey) solid 1px;
}

.filter-input:active, .filter-input:focus {
    outline: var(--blue-light) solid 1px;
}

.search-content {
    display: grid;
    height: max-content;
    padding: 1rem;
    gap: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.card-recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--white);
    border: var(--light-grey) 1px solid;
    border-radius: 0.2rem;
    transition: border 0.3s;
}

.card-recipe:hover {
    border: var(--darker-grey) 1px solid;
}

.card-recipe-image {
    overflow: hidden;
    object-fit: contain;
    height: auto;
    width: 100%;
    min-width: auto;
    min-height: auto;
    border-radius: 0.2rem 0.2rem 0 0;
}

.card-recipe-time {
    display: flex;
    align-items: center;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
}

.card-recipe-share {
    cursor: pointer;
    outline: none;
    border: none;
    top: 0.5rem;
    left: 0.5rem;
    text-align: left;
}

.card-recipe-share:hover {
    background-color: var(--blue-light);
}

.card-recipe-time, .card-recipe-share {
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.25rem;
    transition: background-color 0.3s;
}

.card-recipe-link {
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card-recipe-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.card-recipe-title {
    padding: 0.2rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    line-height: 1.5rem;
}

.card-recipe-label {
    padding: 0 0.3rem;
    width: max-content;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
}

.card-recipe-subtitle {
    flex-grow: 1;
    width: max-content;
    color: var(--darker-grey);
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
}

.card-recipe-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.card-recipe-price {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card-recipe-cart {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    background-color: var(--darker-blue);
    outline: none;
    cursor: pointer;
    padding: 0.6rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: var(--blue-light);
}

.btn-text {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darker-blue);
    border: none;
    transition: color 0.3s;
}

.btn-text:hover, .btn-text:active, .btn-text:focus {
    color: var(--blue-light);
}

.btn-cart {
    flex-grow: 1;
    border-radius: 0.2rem;
    padding: 0.7rem 0.1rem;
    margin-right: 0.25rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.btn-cart-symbol {
    height: max-content;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-size: 0.85rem;
    font-weight: bold;
}

.btn-cart, .btn-cart-symbol {
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--blue-light);
    transition: background-color 0.5s;
}

.card-recipe-cart-quantity {
    font-size: 1rem;
    font-weight: bold;
}

.btn-cart:hover, .btn-cart-symbol:hover {
    background-color: var(--darker-blue);
}

.text-red {
    color: red;
}

.text-bold {
    font-weight: bold;
}

.container-recipe {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}

.recipe-section-title {
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black);
}

.card-recipe-common {
    background-color: var(--white);
    border-radius: 0.2rem;
}

.card-recipe-summary {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-recipe-summary-img {
    border-radius: 0.2rem;
}

.card-recipe-summary-info {
    padding-top: 0.8rem;
}

.card-recipe-summary-label {
    padding: 0 0.3rem;
    width: max-content;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
}

.card-recipe-summary-title {
    padding: 0.6rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    line-height: 1.6rem;
}

.card-recipe-summary-subtitle {
    flex-grow: 1;
    width: max-content;
    color: var(--darker-grey);
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
}

.card-recipe-summary-time {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    text-align: right;
}

.card-recipe-summary-share {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    text-align: left;
}

.card-recipe-summary-price {
    padding-top: 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.9rem;
}

.card-recipe-summary-share:hover {
    background-color: var(--blue-light);
}

.card-recipe-summary-time, .card-recipe-summary-share {
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    transition: background-color 0.5s;
}

.card-recipe-summary-cart {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

.card-recipe-summary-cart-quantity {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.card-recipe-summary-extra {
    font-size: 0.9rem;
}

.card-recipe-summary-extra * {
    margin-top: 0.25rem;
}

.container-recipe-data {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.card-recipe-ingredients {
    height: max-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.recipe-ingredient {
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
}

.recipe-ingredient-quantity {
    width: 6.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.recipe-ingredient-quantity-count {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--black);
}

.recipe-ingredient-quantity-unit {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.2rem;
    color: var(--darker-grey);
}

.recipe-ingredient-img {
    display: none;
    height: 4.5rem;
    width: 7rem;
    margin: 0.5rem 0;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.2rem;
    flex-shrink: 0;
}

.recipe-ingredient-text {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 0;
}

.recipe-ingredient-label {
    width: min-content;
    padding: 0 0.3rem;
    margin-bottom: 0.1rem;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
}

.recipe-ingredient-title {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--black);
}

.card-recipe-nutrition {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.recipe-nutrition {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0.1rem 0.5rem;
    background-color: var(--white);
}

.recipe-nutrition p {
    word-break: break-all;
    font-size: 0.9rem;
}

.recipe-nutrition, .recipe-ingredient {
    outline: var(--white);
    transition: outline 0.5s;
    border-left: var(--darker-blue) 0.35rem solid;
    border-radius: 0.25rem;
}

.recipe-nutrition:hover, .recipe-ingredient:hover {
    outline: var(--darker-grey) 1px solid;
}

.cart-title {
    padding: 0rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
}

.container-cart {
    min-height: 80vh;
    padding: 2rem 0;
}

.cart-headers {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--darker-grey);
}

.cart-headers * {
    padding: 0.25rem 1rem;
    align-items: center;
}

.cart-header-total {
    display: none;
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.cart-product {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.8rem 0;
    background-color: var(--white);
    border-radius: 0.2rem;
    border-left: var(--darker-blue) 0.35rem solid;
    align-items: center;
    text-align: center;
}

.cart-product-delete {
    cursor: pointer;
    position: absolute;
    top: 0.15rem;
    right: 0.15rem;
    padding: 0.1rem 0.3rem;
    background-color: var(--main);
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: normal;
    transition: background-color 0.5s;
    outline: none;
    border: none;
}

.cart-product-delete:hover {
    background-color: var(--main-darker);
}

.cart-product-details {
    display: flex;
    flex-direction: row;
}

.cart-product-details-img {
    display: none;
    height: 4.5rem;
    width: 7rem;
    margin: 0 0.8rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.2rem;
    flex-shrink: 0;
}

.cart-product-details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.2rem;
}

.cart-product-details-label {
    padding: 0 0.3rem;
    margin-bottom: 0.1rem;
    width: max-content;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
}

.cart-product-details-title {
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: var(--black);
    transition: color 0.3s;
}

.cart-product-details-title:hover {
    text-decoration: underline;
}

.cart-product-quantity {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.cart-btn-quantity {
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--blue-light);
    transition: background-color 0.5s;
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
    font-size: 1rem;
    font-weight: bold;
}

.cart-text-quantity {
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
}

.cart-btn-quantity:hover {
    background-color: var(--darker-blue);
}

.cart-product-total {
    display: none;
}

.cart-product-total-price, .cart-product-price, .cart-product-total {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.text-center {
    text-align: center;
}

.cart-total {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
}

.cart-total-container {
    flex-grow: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
    background-color: var(--white);
}

.cart-total-label {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cart-total-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
}

/*DISPOSITIVOS MOVILES */

.btn-filled:hover, .btn-filled:focus {
    background-color: var(--main-darker);
}

.btn-filled-green:hover, .btn-filled-green:focus {
    background-color: var(--darker-green);
}

.btn-filled-blue {
    background-color: var(--green);
}

.btn-filled-green {
    width: 100%;
    margin: 0.3rem 0;
    padding: 1rem 0.5rem;
    color: var(--white);
    background-color: var(--green);
    font-size: 1.2rem;
    font-weight: bold;
    --webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.btn-filled-blue:hover, .btn-filled-blue:focus {
    background-color: var(--darker-green);
}

section {
    width: 100%;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mail event*/
#eventSendMail{
    display: none;
}

.alert {
    display: none;
    position: fixed;
    bottom: 1rem;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 1rem 2rem;
    background-color: var(--blue-light);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    border-radius: 0.2rem;
    border-left: var(--darker-blue) 8px solid;
}

@media (min-width: 320px) {
    .recipe-ingredient-label {
        width: max-content;
    }

    .recipe-nutrition p {
        word-break: normal;
    }
}

@media (min-width: 512px) {
    .container-index-text * {
        width: 60%;
    }

    .search-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .history-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cart-product-details-img {
        display: block;
    }
}

@media (min-width: 768px) {
    .container {
        width: 738px;
    }

    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .navbar {
        padding: 1rem 0;
    }

    .nav-content {
        display: flex !important;
        margin-top: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .flex-nav {
        flex-direction: row;
        gap: 2rem;
    }

    .nav-link {
        gap: 1rem;
        padding: 1rem;
        color: var(--white);
    }

    .hero-title {
        font-family: 'Work Sans', sans-serif;
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 2rem;
    }

    .section-title-container {
        flex-direction: row;
        align-items: center;
    }

    .contacto {
        padding: 4rem 0;
    }

    .container-search {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
    }

    .search-content {
        padding: 0;
        margin-left: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .history-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .search-filters {
        flex-shrink: 0;
        position: relative;
        width: 14rem;
        height: max-content;
        padding: 1rem;
        background-color: var(--white);
        border-radius: 0.2rem;
    }

    .search-filters-list {
        margin-top: 0;
        display: flex !important;
        visibility: visible !important;
    }

    .search-filters-more {
        display: none;
    }

    .container-search {
        padding: 3rem 0;
    }

    .card-recipe-summary {
        width: 20rem;
    }

    .container-recipe {
        padding: 2rem 0;
        flex-direction: row;
    }

    .cart-product {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .cart-headers {
        font-size: 1.1rem;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .cart-product-details-title {
        font-size: 1.1rem;
    }

    .cart-text-quantity {
        font-size: 1.1rem;
    }

    .cart-header-total {
        display: block;
    }

    .cart-product-total {
        display: block;
    }

    .cart-product-total-price, .cart-product-price, .cart-product-total {
        font-size: 1.5rem;
    }

    .cart-total {
        display: grid;
        grid-template-columns: 3fr 2fr;
        border-radius: 0.2rem;
    }

    .cart-total-label {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .cart-product-delete {
        top: 0.35rem;
        right: 0.35rem;
    }

    .alert {
        left: 25%;
        right: 25%;
        width: 50%;
    }

    .container-banner{
        display: block;
    }

    .banner{
        height: 200px; 
        width:700px ;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns:  2fr 1fr;
    }

    .contact-wrapper > * {
        padding: 2em ;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }

    .slider{
        width:95%;
        margin: auto;
        overflow: hidden;
    }

    .slider ul {
        display: flex;
        padding: 0;
        width: 300%;

        animation: cambio 30s infinite;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 700px;
        height: 200px;
    }

}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    75% {margin-left: -200%;}
}


@media (min-width: 1024px) {
    .container {
        width: 984px;
    }

    .container-index-text {
        padding: 4rem 2rem;
    }

    .container-index-history {
        padding: 3rem 0;
    }

    .nav-link:hover {
        border-radius: 1rem;
        background-color: var(--darker-blue);
        list-style-type: none;
        transition: 0.3s;
    }

    .btn-filled {
        width: 45%;
    }

    #mapid {
        width: 60%;
    }

    .search-filters {
        width: 18rem;
    }

    .search-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .history-content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .recipe-ingredient-img {
        display: block;
    }

    .recipe-ingredient-text {
        padding: 0 1rem;
    }

    .recipe-ingredient-title {
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: var(--black);
    }

    .slider img {
        width: 800px;
        height: 230px;
    }
}

@media (min-width: 1280px) {
    .container {
        min-width: 1240px;
    }

    .search-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .history-content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .slider img {
        width: 900px;
        height: 240px;
    }
    
}

@media (min-width: 1536px) {
    .container {
        min-width: 1496px;
    }

    .search-content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .history-content {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .container-recipe-data {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .slider img {
        width: 1000px;
        height: 250px;
    }
}

@media (min-width: 2000px) {
    .container {
        min-width: 1960px;
    }

    .search-content {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .history-content {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .slider img {
        width: 1100px;
        height: 260px;
    }
}