@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:wght@700&display=swap');

:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    --main-lighter: #ff7961;
    --main: #f44336;
    --main-darker: #ba000d;
    --main-bg: #fff;
    --white: #fff;
    --lighter-grey: #eeeeee;
    --light-grey: #e0e0e0;
    --grey: #9e9e9e;
    --darker-grey: #424242;
    --black: #000;
    --green: rgb(11, 156, 6);
    --background-mobile: #e6f9ff;
    --backgorund-footer:#04468A;
    --green-light: #66ff33;
    --blue-light: #026cb1;
    --darker-blue: #033f66;
    --darker-green:  rgb(5, 88, 2);
}

* {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#mapid { height: 180px; }

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: var(--lighter-grey);
    /*background: url('/img/healthy-lunch-go-packed-lunch-box.jpg') no-repeat center fixed;*/
    background-size: cover;
}

.container {
    width: 100%;
    margin: 0px auto;
}

.container-body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20rem;
    margin-top: 4rem;
}

.navbar-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: var(--blue-light);
}

.input-buscar-conteiner{
    align-items: center;
}

.buscar {
    position: absolute;
    padding: 5px;
}
.buscar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: var(--black);
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn-buscar {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #38ef7d, #11998e);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 300px;
}

.buscar input:focus {
    width: 300px;
}

.boton-hum{
    display:none;
    cursor: pointer;
    border: none;
    margin:0;
    padding:0;
    background-color: transparent;
}

.boton-hum span{
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.logo{
    width: 180px;
    height: 85px;
}

.enlaces-menu {
    display: flex;
    padding: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #f3f3f3;
}

.enlaces-menu li:hover {
    background-color: var(--darker-blue);
    list-style-type: none;
    transition: 0.3s;
}

.category-selector li a {
    padding-top: 7px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.eslogan {
    margin-bottom: 1rem;
}

.eslogan p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
}

.frase {
    margin-bottom: 2rem;
}

.frase p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px
}

.contacto-title p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.contacto-subtitle p {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

.contacto-ubicacion p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px,-8px);
}

.footer {
    margin-top: 6rem;
    padding: 1rem 0;
    background-color: var(--backgorund-footer);
    color: var(--white);
    text-align: center;
}

.container-search {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.searching-for {
    font-size: 1rem;
    font-weight: normal;
}

.search-filters {
    width: 100%;
    height: max-content;
    padding: 1rem;
    background-color: var(--white);
}

.search-results {
    padding-bottom: 1.5rem;
}

.search-query {
    font-size: 1.3rem;
}

.search-n-results {
    font-size: 1rem;
    font-weight: normal;
}

.search-filters-list {
    margin-top: 1rem;
    display: none;
    flex-direction: column;
}

.search-filter {
    padding-bottom: 1rem;
}

.search-filters-more {
    display: block;
}

.filter-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.filter-min-max {
    display: inline;
}

.filter-checkbox {
    display: flex;
    flex-direction: column;
}

.filter-checkbox input {
    vertical-align: middle;
    margin: 0.4rem;
}

.filter-checkbox label {
    font-size: 0.9rem;
    vertical-align: middle;
}

input[type="checkbox"] {
    zoom: 0.9;
}

.filter-input {
    width: 40%;
}

.filter-input:hover {
    outline: var(--light-grey) solid 1px;
}

.filter-input:active, .filter-input:focus {
    outline: var(--blue-light) solid 1px;
}

.search-content {
    height: max-content;
    width: auto;
    display: grid;
    padding: 1rem;
    gap: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.card-recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--white);
    border: var(--light-grey) 1px solid;
    border-radius: 0.2rem;
    transition: border 0.3s;
    cursor: pointer;
}

.card-recipe:hover {
    border: var(--grey) 1px solid;
}

.card-recipe-image {
    overflow: hidden;
    object-fit: contain;
    height: auto;
    width: 100%;
    min-width: auto;
    min-height: auto;
}

.card-recipe-time {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.25rem;
    text-align: right;
}

.card-recipe-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex-grow: 1;
}

.card-recipe-title {
    padding: 0.2rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--black);
    line-height: 1.5rem;
}

.card-recipe-label {
    padding: 0 0.3rem;
    width: max-content;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
}

.card-recipe-subtitle {
    flex-grow: 1;
    width: max-content;
    color: var(--darker-grey);
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
}

.card-recipe-info {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.btn {
    width: 100%;
    background-color: var(--darker-blue);
    outline: none;
    cursor: pointer;
    padding: 0.6rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: var(--blue-light);
}

.btn-text {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darker-blue);
    border: none;
    transition: color 0.3s;
}

.btn-text:hover, .btn-text:active, .btn-text:focus {
    color: var(--blue-light);
}

.text-red {
    color: red;
}

.text-bold {
    font-weight: bold;
}

.container-recipe {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    gap: 1.5rem;
}

.recipe-section-title {
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black);
}

.card-recipe-common {
    background-color: var(--white);
    border-radius: 0.2rem;
}

.card-recipe-summary {
    position: relative;
    width: 20rem;
    height: max-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-recipe-summary-img {
    border-radius: 0.2rem;
}

.card-recipe-summary-info {
    padding-top: 0.8rem;
}

.card-recipe-summary-label {
    padding: 0 0.3rem;
    width: max-content;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
}

.card-recipe-summary-title {
    padding: 0.6rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    line-height: 1.6rem;
}

.card-recipe-summary-subtitle {
    flex-grow: 1;
    width: max-content;
    color: var(--darker-grey);
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
}

.card-recipe-summary-time {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    text-align: right;
}

.card-recipe-summary-extra {
    font-size: 0.9rem;
}

.card-recipe-summary-extra * {
    margin-top: 0.25rem;
}

.container-recipe-data {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.card-recipe-ingredients {
    height: max-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.recipe-ingredient {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    padding: 0.5rem;
}

.recipe-ingredient-quantity {
    width: 7rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.recipe-ingredient-quantity-count {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--black);
}

.recipe-ingredient-quantity-unit {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.2rem;
    color: var(--darker-grey);
}

.recipe-ingredient-img {
    height: 4.5rem;
    width: 7rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.2rem;
    flex-shrink: 0;
}

.recipe-ingredient-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.recipe-ingredient-label {
    padding: 0 0.3rem;
    margin-bottom: 0.1rem;
    width: max-content;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
}

.recipe-ingredient-title {
    display: flex;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--black);
}

.card-recipe-nutrition {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.recipe-nutrition {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0.1rem 0.5rem;
    background-color: var(--white);
}

.recipe-nutrition p {
    font-size: 0.9rem;
}

/*DISPOSITIVOS MOVILES */

@media (max-width:768px) {
    .container-body {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2rem;
        margin-top: 4rem;
    }

    .boton-hum {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
    }

    .boton-hum:hover {
        transform: rotate(360deg);
    }
    .navbar-conteiner {
        flex-direction: column;
        align-items: flex-start;
        padding:25px 0;
    }

    .enlaces-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        pad: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .enlaces-menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 512px) {
    .search-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .container-search {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
    }

    .search-content {
        padding: 0;
        margin-left: 1rem;
        width: 70%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .search-filters {
        position: relative;
        width: 20rem;
        height: max-content;
        padding: 1rem;
        background-color: var(--white);
        border-radius: 0.2rem;
    }

    .search-filters-list {
        margin-top: 0;
        display: flex !important;
        visibility: visible !important;
    }

    .search-filters-more {
        display: none;
    }

    .container-search {
        padding: 3rem;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }

    .container-body {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 18rem;
        margin-top: 4rem;
    }

    .search-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .container {
        min-width: 1280px;
    }

    .search-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1536px) {
    .container {
        min-width: 1536px;
    }

    .search-content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 2000px) {
    .container {
        min-width: 2000px;
    }

    .search-content {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}